@import "tailwindcss";

:root {
  --dark-bg: #14103f;
  --white-bg: #f5f5f5;
  --undone: #f49c12;
  --done: #2dcd71;
  --main-purple: #4735d2;
  --custom-red: #e74d3e;
  --custom-gray: #eeebfc;
}

@theme inline {
  --color-dark-bg: var(--dark-bg);
  --color-white-bg: var(--white-bg);
  --color-undone: var(--undone);
  --color-done: var(--done);
  --color-main-purple: var(--main-purple);
  --color-custom-red: var(--custom-red);
  --color-custom-gray: var(--custom-gray);
}

body {
  background: var(--white-bg);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}
